#contactinfo {
  display: flex;
  margin: auto auto 25rem;
  justify-content: center;
  gap: 7rem;
}

.contactcheckbox {
  display: grid;
  gap: 7px;
}

#contactshortcuts{
  list-style: none;
  padding: 0;
}
