@import url("https://p.typekit.net/p.css?s=1&k=fpy0rgl&ht=tk&f=49650.49653.51651&a=100499211&app=typekit&e=css");

@font-face {
    font-family:"articulat-cf";
    src:url("https://use.typekit.net/af/91edd4/00000000000000007735faeb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/91edd4/00000000000000007735faeb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/91edd4/00000000000000007735faeb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
    }
    
@font-face {
    font-family:"articulat-cf";
    src:url("https://use.typekit.net/af/2eb95e/00000000000000007735faee/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/2eb95e/00000000000000007735faee/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/2eb95e/00000000000000007735faee/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
    }
    
@font-face {
    font-family:"articulat-cf";
    src:url("https://use.typekit.net/af/072efe/0000000000000000774b9f47/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/072efe/0000000000000000774b9f47/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/072efe/0000000000000000774b9f47/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
    }

* {
    font-family: var(--sans);
    text-decoration: none;
    color: var(--textcolor);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    height: 162px;
}

main {
    text-align: center;
}

h1 {
    font-weight: var(--h1-desktop-font-weight);
    font-size: var(--h1-desktop-font-size);
    break-after: var(--h1-mobile-paragraph-spacing);
    text-transform: var(--textcase-capitalize);
}

h2 {
    font-weight: var(--h2-desktop-font-weight);
    font-size: var(--h2-desktop-font-size);
    line-height: 0.8em;
    text-transform: var(--textcase-capitalize);
}

.tiletitle {
    font-weight: var(--tile-title-desktop-font-weight);
    font-size: var(--size-third-desktop);
    text-transform: var(--textcase-capitalize);
}

p {
    font-family: var(--body-text-desktop-font-family);
    font-weight: var(--body-text-desktop-font-weight);
    line-height: var(--body-text-desktop-line-height);
    font-size: var(--body-text-desktop-font-size);
    margin-bottom: var(--body-text-desktop-paragraph-spacing);
}

.und {
    text-decoration: var(--deco-underline);
    font-style: inherit;
    color: inherit;
}

.ns {
    max-width: 750px;
}

input {
    border: none;
    border-radius: var(--br-textfield);
    background: var(--bg-textfield);
    height: 2.3em;
    padding: 0.75px 0.75em;
    font-family: var(--body-text-desktop-font-family);
    font-size: var(--body-text-desktop-font-size);
    font-weight: var(--body-text-desktop-font-weight);
    transition: 0.2s;
}

input:focus {
    outline: none;
    box-shadow: inset var(--active-shadow-x) var(--active-shadow-y) var(--active-shadow-blur) var(--active-shadow-spread) var(--active-shadow-color);
}

input:invalid {
    outline: solid var(--fail);
    box-shadow: inset var(--active-shadow-x) var(--active-shadow-y) var(--active-shadow-blur) var(--active-shadow-spread) var(--fail);
}

label {
    color: var(--help);
    font-size: var(--helptext-desk-font-size);
    font-weight: var(--helptext-desk-font-weight);
    font-kerning: var(--helptext-desk-letter-spacing);
    text-transform: var(--helptext-desk-text-case);
}

section {
    max-width: 70rem;
    margin: 5rem auto;
}

.txtpic{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-bottom: 4rem;
    text-align: initial;
}

.txtpic img{
    border-radius: var(--br-image);
    max-height: 350px;
    max-width: 48%;
}

/* Integration */
.primaer_knap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
  
    width: 157px;
    height: 43px;
    left: calc(50% - 157px / 2 + 188.5px);
    top: 2697px;
  
    background: linear-gradient(266.1deg, #109ad6 -6.5%, #26c7eb 108.13%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .almindelig_knap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
  
    width: 135px;
    height: 48px;
    left: 20px;
    top: 20px;
  
    background: #d9d9d9;
    box-shadow: var(--button-shadow-blur);
    border-radius: 5px;
  }