---
import Textfield from "../components/Textfield.astro"
import Footercomp from "../components/Footercomptree.astro"
import Compacttile from "../components/Compacttile.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="src/styles/tokens.css">
		<link rel="stylesheet" href="src/styles/global.css">
		<title>Astro</title>
	</head>
	<body>
        <section>
			<h2>
				Latest News
			</h2>
			<div class="compacttilegallery">
				<Compacttile title="Ambassador Trago Koroto congratulates Aikido team" link="#" btnlabel="read the story" imgsrc="public/elba-esther-1535088001.jpeg">
					<span slot="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum amet illum eligendi tenetur commodi libero. Iste suscipit minima libero veniam qui. Reprehenderit odio necessitatibus animi fugiat, impedit suscipit! Laudantium, modi?</span>
				</Compacttile>
				<Compacttile title="Ambassador Trago Koroto congratulates Aikido team" link="#" btnlabel="read the story" imgsrc="public/elba-esther-1535088001.jpeg">
					<span slot="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum amet illum eligendi tenetur commodi libero. Iste suscipit minima libero veniam qui. Reprehenderit odio necessitatibus animi fugiat, impedit suscipit! Laudantium, modi?</span>
				</Compacttile>
				<Compacttile title="Ambassador Trago Koroto congratulates Aikido team" link="#" btnlabel="read the story" imgsrc="public/elba-esther-1535088001.jpeg">
					<span slot="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum amet illum eligendi tenetur commodi libero. Iste suscipit minima libero veniam qui. Reprehenderit odio necessitatibus animi fugiat, impedit suscipit! Laudantium, modi?</span>
				</Compacttile>
				<Compacttile title="Ambassador Trago Koroto congratulates Aikido team" link="#" btnlabel="read the story" imgsrc="public/elba-esther-1535088001.jpeg">
					<span slot="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum amet illum eligendi tenetur commodi libero. Iste suscipit minima libero veniam qui. Reprehenderit odio necessitatibus animi fugiat, impedit suscipit! Laudantium, modi?</span>
				</Compacttile>
				<Compacttile title="Ambassador Trago Koroto congratulates Aikido team" link="#" btnlabel="read the story" imgsrc="public/elba-esther-1535088001.jpeg">
					<span slot="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum amet illum eligendi tenetur commodi libero. Iste suscipit minima libero veniam qui. Reprehenderit odio necessitatibus animi fugiat, impedit suscipit! Laudantium, modi?</span>
				</Compacttile>
			</div>
		</section>
	</body>
</html>