---
import Contacttile from "../components/Contacttile.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="src/styles/tokens.css">
		<link rel="stylesheet" href="src/styles/global.css">
		<title>Astro</title>
	</head>
	<body>
        <Contacttile data="456789" href="#">
			<svg slot="contacticon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20.8943 29.9997C16.373 29.9999 11.041 26.3182 7.36146 22.6384C3.35593 18.6332 -0.652313 12.6697 0.0892332 7.92608C0.335725 3.96441 2.52088 0.881747 5.66318 0.0674638C6.42446 -0.131004 7.21969 0.115925 7.73534 0.70936C9.42837 2.65924 10.695 5.01446 11.5006 7.70971C11.7226 8.45317 11.5623 9.24726 11.0715 9.83407C10.1456 10.9403 9.1663 11.8884 8.07789 12.7324C8.05586 12.7498 8.04837 12.7857 8.06203 12.81C10.2373 16.6919 13.3086 19.763 17.1907 21.9385C17.2142 21.9522 17.2506 21.944 17.2675 21.9227C18.1119 20.834 19.0599 19.8547 20.1659 18.9289C20.7528 18.4379 21.5466 18.278 22.2905 18.4998C24.9859 19.3051 27.3411 20.5717 29.291 22.2645C29.8846 22.7806 30.1305 23.5747 29.9329 24.3371C29.1185 27.4794 26.0357 29.6645 22.0742 29.911C21.6885 29.9711 21.2948 30 20.8946 30L20.8943 29.9997ZM6.18288 1.4293C6.12935 1.4293 6.07539 1.43613 6.02164 1.44979C3.48092 2.10821 1.71119 4.69733 1.5132 8.04582C1.51166 8.07005 1.50924 8.09384 1.50549 8.11741C0.944226 11.5932 3.63934 16.8963 8.37171 21.6286C13.1041 26.361 18.4065 29.0559 21.8831 28.4948C21.9066 28.491 21.9304 28.4886 21.9547 28.4871C25.3031 28.289 27.8927 26.5193 28.5508 23.9787C28.6111 23.7448 28.5362 23.5009 28.3545 23.343C26.5594 21.7841 24.3818 20.6151 21.8825 19.8688H21.8822C21.5998 19.7836 21.3007 19.8428 21.0831 20.0243C20.0568 20.8838 19.1779 21.7912 18.3967 22.7978C17.9494 23.3756 17.1308 23.5415 16.4933 23.1851C12.3779 20.8788 9.12239 17.6231 6.81599 13.5079C6.45892 12.87 6.62545 12.0516 7.20324 11.604C8.20949 10.8231 9.11682 9.94443 9.97634 8.91772C10.1583 8.70053 10.2167 8.40161 10.1319 8.119C9.38535 5.61931 8.21652 3.44167 6.65719 1.64647C6.53582 1.50593 6.36312 1.42949 6.18315 1.42949L6.18288 1.4293Z" fill="#2EA8DD"/>
				</svg>				
		</Contacttile>
    </body>
</html>