---

---

<a href="#">
    <img src="public/elba-esther-gordillo.jpg">
    <div class="bannertext">
        <h3 class="tiletitle">Elba gordipsum dollar</h3>
        <p>testtttttttt</p>
    </div>
</a>

<style>
    img {
        width: 100%;
    }
    .bannertext {
        position: absolute;
        bottom: 10%;
        left: 5%;
        color: var(--white);
    }
</style>