---

---

<a href="#">
    <img src="public/elba-esther-gordillo.jpg">
    <div class="bannertext">
        <h3 class="tiletitle">Elba gordipsum dollar</h3>
        <p>testtttttttt</p>
    </div>
</a>

<style>
    img {
        width: 100%;
    }
    .bannertext {
        position: absolute;
        bottom: 10%;
        left: 5%;
        text-align: left;
        text-shadow: var(--shadow-20-color) var(--shadow-20-x) var(--shadow-20-y) var(--shadow-20-blur);
    }
    .bannertext h3, .bannertext p{
        color: var(--white-text);
        margin: 0;
    }
</style>