---
---

<div class="grid-container">
  <div class="tekst">
    <h1>Join Us at Lagelinje Park</h1>
    <p>
      Located right in the heart of Copenhagen, Langelinje Park hosts the Sakura
      Festival every year.
    </p>

    <p>
      Get lost in the magic of the blossoming Sakura trees and enjoy a wonderful
      weekend with your friends and familiy.
    </p>
    <p>Get Directions</p>
  </div>

  <img class="billede" src="public/map.svg" alt="kort" />
</div>

<style>
  .grid-container {
    display: flex;
    background-color: var(--bg-screens);
    border-radius: 2%;
    grid-template-columns: 50px 50px;
  }

  .billede {
    grid-column-start: 2;
    grid-column-end: 1;
    width: 50%;
    margin: 20px;
  }
  .tekst {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 20px;
  }
</style>
