---

---
<div>
<h1>Join Us at Lagelinje Park</h1>
<p>Located right in the heart of Copenhagen, Langelinje Park hosts the Sakura Festival every year.</p>

<p>Get lost in the magic of the blossoming Sakura trees and enjoy a wonderful weekend with your friends and familiy.</p>
<p>Get Directions</p>
<img src="public/map.svg" alt="kort">
</div>


<style>
    div {
        background-color: var(--bg-screens);
    }
    img {
width: 60%;
    }
</style>