---
---

<div>
  <img src="map.svg" alt="" />
  <h3>Gajasidh</h3>
  <p>kjhasdjlavbajsdbas</p>
  <a href="">READ THE STORY</a>
</div>

<style>
  img {
    width: 30%;
    display: block;
    align-items: center;
  }
  div {
    margin: 20px;
    padding: 10x;
  }
</style>
