---
---

<div>
  <img src="map.svg" alt="" />
  <h3>Gajasidh</h3>
  <p>
    kjhasdjlavbajsdbasvjhbasdkhjcaasdlbsacjbhasjhjlw wae iavj aejv
    jkabvljdasbvjh jadbv hjabv
  </p>
  <p>READ THE STORY</p>
</div>

<style>
  img {
    width: 30%;
  }
  div {
    margin: 20px;
    padding: 10x;
  }
</style>
