---
---

<li>
  <div id="kasse">
    <img src="map.svg" alt="kort" />
    <div>
      <h2>Opening Ceremony</h2>
      <p>CSFC</p>
      <h3>10.45 - 11-00 · Main stage</h3>
    </div>
    <div>
      <p>ACCES IS FREE TO ALL EVENTS</p>
      <button class="primær_knap"
        >Add to your calendar<img
          src="kalender.svg"
          alt="kalender_knap"
        /></button
      >
      <button class="almindelig_knap"
        >Share<img src="del.svg" alt="del_knap" /></button
      >
      <button class="almindelig_knap"
        ><img src="stjerne.svg" alt="favorit_knap" /></button
      >
    </div>
  </div>
</li>

<style>
  #kasse {
    display: flex;
    background-color: var(--bg-screens);
    box-shadow: var(--rich-list-item-shadow-type);
    border-radius: 2%;
  }
  img {
    width: 30%;
  }
</style>
