---
---

<li class="richlistitem">
  <div class="richlistimgcont">
    <img src="map.svg" alt="kort" />
  </div>
    <div class="richlistdata">
      <h3 class="tiletitle">Opening Ceremony</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam, necessitatibus sunt nihil facere numquam autem accusamus, id voluptatum aut aspernatur nulla totam est sint inventore assumenda error omnis itaque?</p>
      <span class="helptext">10.45 - 11-00 · Main stage</span>
    </div>
    <div>
      <p>ACCES IS FREE TO ALL EVENTS</p>
      <button class="primaer_knap"
        >Add to your calendar<img
          src="kalender.svg"
          alt="kalender_knap"
        /></button
      >
      <button class="almindelig_knap"
        >Share<img src="del.svg" alt="del_knap" /></button
      >
      <button class="almindelig_knap"
        ><img src="stjerne.svg" alt="favorit_knap" /></button
      >
    </div>
</li>

<style>
  .richlistitem {
    display: flex;
    background-color: var(--bg-rich-list-item);
    box-shadow: var(--rich-list-item-shadow-x) var(--rich-list-item-shadow-y) var(--rich-list-item-shadow-blur) var(--rich-list-item-shadow-spread) var(--rich-list-item-shadow-color);
    border-radius: var(--br-image);
    text-align: left;
    padding: 5px;
    height: 12.5rem;
    align-items: center;
    gap: var(--spacing-normal);
  }
  .richlistimgcont{
    display: flex;
    object-fit: cover;
  }
  img {
    width: 100%;
  }
</style>
