---
---

<div id="newsletter">
  <img src="red_sakura.svg" class="træ_1" alt="sakura_træ" />
  <img src="sakura_sky.svg" alt="sky" />
  <div class="tekst">
    <h1>Don't miss out on anything!</h1>
    <p>receive the upcomming fascinating events, guests and activities.</p>
    <p>
      Sign up for our newsletter and get the most relevant updates about the
      festival right on your inbox
    </p>
    <p>You can <a href="">unsubcribe</a> at any moment.</p>
    <p>
      By signing up, you confirm you have read and agree with our <a href=""
        >Terms of use</a
      > and <a href="">Privacy Policy</a>
    </p>
  </div>
  <div>
    <p>ENTER YOUR EMAIL:</p>
    <input type="email" />
    <button class="primær_knap">Sign up</button>
  </div>
  <img src="sakura_red_2.svg" class="træ_2" alt="sakura_træ" />
</div>

<style>
  #newsletter {
    background-color: var(--light-pink);
    display: flex;
    height: 500px;
    margin: auto -8px;
  }
  .tekst {
    position: relative;
    height: 300px;
  }
  .træ_1 {
  }

  .træ_2 {
  }
</style>
