---
const link = Astro.props.href
---

<a class="textbutton" href={link}>
    <span>
        <slot name="label" />
    </span>
    <div id="bicon">
        <slot name="icon" />
    </div>
</a>

<style>
    .textbutton{
        display: flex;
        align-items: center;
        gap: var(--spacing-normal);
        width: fit-content;
        margin: auto;
    }
    h2, p {
        text-align: left;
    }
</style>